### NLP of news API sentiment analysis. Disney Ex.

In [1]:
from iexfinance.stocks import Stock
import pandas as pd
import numpy as np
from newsapi.newsapi_client import NewsApiClient
from datetime import date, datetime, timedelta
import os
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from iexfinance.stocks import get_historical_data
import pickle

In [2]:
newsapi = NewsApiClient(api_key=os.environ["NEWS_API_ID"])
pickle.dump(newsapi,open('newsapi.pickle','wb'))
current_date = date.today()
past_date = date.today() - timedelta(days=30)

KeyError: 'NEWS_API_ID'

In [ ]:
def get_headlines(keyword):
    all_headlines = []  #empty list for all headlines
    all_dates = [] #empyt list for all dates
    date = current_date #today's date
    print(f"Fetching news about '{keyword}'") #prints single string of function starting
    print("*" * 30) #creating a line of stars for readability
    while date > past_date: #establishes length of dates being pulled by for the lenght of the difference between today and past_date 
        print(f"retrieving news from: {date}")#printing string for loop readability  
        articles = newsapi.get_everything(   #pulling articles through API
            q=keyword,
            from_param=str(date),
            to=str(date),
            language="en",
            sort_by="relevancy",
            page=1,
        )
        headlines = []
        for i in range(0, len(articles["articles"])):
            
            #pulling the content part of the dict
            headlines.append(articles["articles"][i]["content"])
        all_headlines.append(headlines)
        all_dates.append(date)
        date = date - timedelta(days=1) #moving through the days            
    return all_headlines, all_dates

In [ ]:
disney_headlines, dates = get_headlines('disney')

In [ ]:
disney_df = pd.DataFrame(disney_headlines)
disney_df.index = pd.to_datetime(dates)
disney_df.to_csv("./disney_df.csv")

In [ ]:
df = pd.read_csv('disney_sentiment.csv').set_index('date')

In [ ]:
df.head()

In [ ]:
len(df)

In [9]:
# Set the ticker
# TODO - this is hard-coded for now, but will need to accept an output from the selector
ticker = "DIS"

# setting start and end date for the past four weeks
# 29 days needed instead of 28 days so that we get 28 days of return when we calculate
end_date_stock = datetime.now()
start_date_stock = end_date_stock + timedelta(-31)

# getting data from the API and adding to DataFrame
returns_df = get_historical_data(ticker, start_date_stock, end_date_stock,  output_format='pandas')
returns_df.drop(columns=['open','high','low','volume'],inplace=True)
returns_df.head()

             close
date
2020-03-13  102.52
2020-03-16   95.01
2020-03-17   93.53
2020-03-18   88.80
2020-03-19   94.93

In [10]:
returns_df.tail()

             close
date
2020-04-03   93.88
2020-04-06   99.58
2020-04-07  101.24
2020-04-08  101.07
2020-04-09  104.50

In [11]:
returns_df = returns_df.pct_change() * 100
returns_df.head()

               close
date
2020-03-13       NaN
2020-03-16 -7.325400
2020-03-17 -1.557731
2020-03-18 -5.057201
2020-03-19  6.903153

In [12]:
returns_df.dropna(inplace=True)
returns_df.isnull().sum()
returns_df.rename(columns={'close':'return'}, inplace=True)
returns_df.head()

              return
date
2020-03-16 -7.325400
2020-03-17 -1.557731
2020-03-18 -5.057201
2020-03-19  6.903153
2020-03-20 -9.428000

In [13]:
returns_df.to_csv('sample_returns_data.csv')

In [14]:
returns_df = pd.read_csv('sample_returns_data.csv').set_index('date')

In [15]:
returns_df.head()

              return
date
2020-03-16 -7.325400
2020-03-17 -1.557731
2020-03-18 -5.057201
2020-03-19  6.903153
2020-03-20 -9.428000

In [16]:
len(returns_df)

19

In [17]:
len(df)

30

In [18]:
df = df.sort_values(by='date',ascending=True)

In [19]:
df.head()

,text,compound,positive,negative,neutral
date,,,,,
2020-03-13,Mulan is not going to become a Disney Plus ori...,-0.4406,0.054,0.052,0.894
2020-03-14,The press release didn't indicate exactly what...,0.2598,0.092,0.080,0.828
2020-03-15,"TV and film productions are being put on hold,...",-0.9928,0.070,0.116,0.814
2020-03-16,TL;DR: An annual Disney+ subscription is avail...,0.9832,0.075,0.034,0.890
2020-03-17,"Following several other movies, including Mula...",0.9963,0.107,0.040,0.853

In [20]:
combined_df = pd.concat([df, returns_df], axis=1)

In [21]:
combined_df.head(15)

,text,compound,positive,negative,neutral,return
2020-03-13,Mulan is not going to become a Disney Plus ori...,-0.4406,0.054,0.052,0.894,NaN
2020-03-14,The press release didn't indicate exactly what...,0.2598,0.092,0.080,0.828,NaN
2020-03-15,"TV and film productions are being put on hold,...",-0.9928,0.070,0.116,0.814,NaN
2020-03-16,TL;DR: An annual Disney+ subscription is avail...,0.9832,0.075,0.034,0.890,-7.325400
2020-03-17,"Following several other movies, including Mula...",0.9963,0.107,0.040,0.853,-1.557731
2020-03-18,It was supposed to launch alongside WarnerMedi...,0.9715,0.109,0.083,0.808,-5.057201
2020-03-19,If your streaming queue is starting to look a ...,-0.8074,0.069,0.070,0.861,6.903153
2020-03-20,Disney said on Friday that it is postponing th...,0.8507,0.045,0.036,0.919,-9.428000
2020-03-21,TL;DR: A 12-month subscription to Disney+ is a...,0.9459,0.082,0.058,0.860,NaN
2020-03-22,Since movie theaters all over are shutting dow...,0.9932,0.084,0.013,0.902,NaN
2020-03-23,"If you decide to take advantage, keep in mind ...",0.9500,0.069,0.034,0.897,-0.255873
2020-03-24,"Disney+ launches in seven European countries, ...",0.9942,0.093,0.036,0.872,14.412313
2020-03-25,TL;DR: A three-year subscription to NordVPN is...,0.9952,0.115,0.053,0.832,2.660008
2020-03-26,"Disney's streaming service, Disney Plus, is th...",0.3439,0.066,0.047,0.887,4.596446
2020-03-27,The massive amount of premium content on Disne...,0.9948,0.120,0.047,0.834,-8.504176

In [22]:
np.mean(combined_df.iloc[0:4]['compound'])

-0.0476

In [23]:
np.mean(combined_df.iloc[8:11]['compound'])

0.9630333333333333

In [24]:
def non_trading_avg(df):

    index_list = []
    compound = []
    compound_list = []
    positive = []
    positive_list = []
    negative = []
    negative_list = []
    neutral = []
    neutral_list = []

    for index, row in df.iterrows():
        
        if pd.isnull(row['return']):
            compound.append(row['compound'])
            positive.append(row['positive'])
            negative.append(row['negative'])
            neutral.append(row['neutral'])
            df.drop(index=index, inplace=True)

        elif pd.notnull(row['return']):
            if len(compound) == 0:
                    pass
            
            else:
                index_list.append(index)

                compound.append(row['compound'])
                compound_mean = np.mean(compound)
                compound_list.append(compound_mean)
                compound = []

                positive.append(row['positive'])
                positive_mean = np.mean(positive)
                positive_list.append(positive_mean)
                positive = []

                negative.append(row['negative'])
                negative_mean = np.mean(negative)
                negative_list.append(negative_mean)
                negative = []

                neutral.append(row['neutral'])
                neutral_mean = np.mean(neutral)
                neutral_list.append(neutral_mean)
                neutral = []

                df.at[index, 'compound'] = compound_list[0]
                df.at[index, 'positive'] = positive_list[0]
                df.at[index, 'negative'] = negative_list[0]
                df.at[index, 'neutral'] = neutral_list[0]

                compound_list = []
                positive_list = []
                negative_list = []
                neutral_list = []
                           
        else:
            pass
    
    return df.sort_index(ascending=True)

In [25]:
non_trading_avg(combined_df).head(10)

,text,compound,positive,negative,neutral,return
2020-03-16,TL;DR: An annual Disney+ subscription is avail...,-0.047600,0.072750,0.0705,0.856500,-7.325400
2020-03-17,"Following several other movies, including Mula...",0.996300,0.107000,0.0400,0.853000,-1.557731
2020-03-18,It was supposed to launch alongside WarnerMedi...,0.971500,0.109000,0.0830,0.808000,-5.057201
2020-03-19,If your streaming queue is starting to look a ...,-0.807400,0.069000,0.0700,0.861000,6.903153
2020-03-20,Disney said on Friday that it is postponing th...,0.850700,0.045000,0.0360,0.919000,-9.428000
2020-03-23,"If you decide to take advantage, keep in mind ...",0.963033,0.078333,0.0350,0.886333,-0.255873
2020-03-24,"Disney+ launches in seven European countries, ...",0.994200,0.093000,0.0360,0.872000,14.412313
2020-03-25,TL;DR: A three-year subscription to NordVPN is...,0.995200,0.115000,0.0530,0.832000,2.660008
2020-03-26,"Disney's streaming service, Disney Plus, is th...",0.343900,0.066000,0.0470,0.887000,4.596446
2020-03-27,The massive amount of premium content on Disne...,0.994800,0.120000,0.0470,0.834000,-8.504176

In [26]:
combined_df.tail()

,text,compound,positive,negative,neutral,return
2020-04-03,With movie theaters largely closed due to the ...,0.996300,0.120,0.047,0.833000,-3.186553
2020-04-06,The unusual-looking cylindrical Shield TV has ...,0.997267,0.127,0.051,0.822333,6.071581
2020-04-07,If you watch a lot of Disney+ on Windows or ma...,0.974500,0.068,0.035,0.897000,1.667001
2020-04-08,The Walt Disney Company just announced that it...,0.972400,0.052,0.018,0.931000,-0.167918
2020-04-09,Walt Disney Co. reported more than 50 million ...,0.988100,0.101,0.056,0.843000,3.393688

In [27]:
combined_df.to_pickle('../Data/combined_df.pickle')

FileNotFoundError: [Errno 2] No such file or directory: '../Data/combined_df.pickle'